<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Plantilla de Tiwng</title>
</head>
<body>
    <h1>Hola, mi nombre es: {{ nombre|capitalize }} {{ apellido|upper }}</h1>
    {% set precio = 10000 %}
    <h1>Precio: {{ precio|format_currency('USD') }} MXN</h1>
    <h1>Precio: $ {{ "%.2f"|format(precio) }} MXN</h1>
</body>
</html>
https://colorlib.com/wp/template/karma/