<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/fav.png">
    <meta charset="UTF-8">
    <title>Karma Shop</title>
    <!-- CSS Base -->
    {% include 'parts/css.html.twig' %}
</head>
<body>
    {% include 'parts/header.html.twig' %}

    {# Contenido #}
    {% block contenido %}
    {% endblock %}

    {% include 'parts/footer.html.twig' %}
    {% block javascript %}
        {% include 'parts/js.html.twig' %}
    {% endblock %}
</body>
</html>