<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>{{ title1 }}</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{ path('inicio') }}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">{{ title2 }}</a>
                </nav>
            </div>
        </div>
    </div>
</section>