<script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/vendor/bootstrap.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/jquery.ajaxchimp.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/jquery.nice-select.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/jquery.sticky.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/nouislider.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/countdown.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}" type="5fb017a9dac4dae662998591-text/javascript"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="js/gmaps.min.js" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script src="js/main.js" type="5fb017a9dac4dae662998591-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="5fb017a9dac4dae662998591-text/javascript"></script>
<script type="5fb017a9dac4dae662998591-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="5fb017a9dac4dae662998591-|49" defer=""></script>